@font-face {
    font-family: Josefin;
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

body {
    font-family: Josefin, sans-serif !important;
    color: black;
}

/*hide the mostrar from data tables*/
.dataTables_length {
    float: right;
}

.dataTables_filter {
    float: right;
    margin: 0 50px 0 0;
}

.plus {
    display: none;
}

.sort {
    vertical-align: middle;
    font-size: 18px;
    display: inline;
    float: right;
    cursor: pointer;
}

.thead-color {
    background-color: #ffa154;
}

.odd {
    background-color: white; !important;
}

.even {
    background-color: #ffe2c9 !important;
}

.buttons-pdf:hover {
    background-color: #bf0e0e !important;
    color: white !important;
}

.buttons-csv:hover {
    background-color: green !important;
    color: white !important;
}

.btn-adjust {
    padding: 5px !important;
    font-size: 12px !important;
}

.action-row {
    text-align: right;
}

.background-video {
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-head-color {
    background: linear-gradient(60deg, #1bb1b2, #0c385a) !important;
}

@media (max-width: 1400px) {
    .plus {
        vertical-align: inherit;
        font-size: 21px;
        color: #a0a0a0;
        display: inline;
        cursor: pointer;
    }
}


@media (max-width: 500px) {
    .dataTables_filter {
        float: left;
        width: 40%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .dataTables_length {
        float: right;
        width: 40%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .plus {
        vertical-align: inherit;
        font-size: 21px;
        color: #a0a0a0;
        display: inline;
        cursor: pointer;
    }
    .btn-group>.btn:first-child {
        margin: 5px auto !important;
    }
    .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn {
        margin: auto !important;
    }
    .sort {
        display: none;
    }
    .background-video {
        height: unset;
        width: unset;
        max-height: -webkit-fill-available;
    }
    .charts-list-scroll {
        margin-bottom: 15px;
    }
}

.icons-charts-list {
    vertical-align: sub;
    font-size: 20px !important;
}

.charts-list-scroll {
    overflow: auto;
    max-height: 35vh;
}

.charts-table {
    table-layout: auto;
    width: inherit;
}

.form-check .form-check-input {
    opacity: 0 !important;
    height: 10px !important;
    width: 10px !important;
    overflow: hidden !important;
    position: inherit !important;
    pointer-events: fill !important;
    left: 20px !important;
    z-index: unset !important;
}

.sponsors-active {
    display: block !important;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item .nav-link {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"],
.sponsor-nav[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"] i,
.sponsor-nav[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="black"] .user a {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .simple-text {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .sponsor-nav-background:after {
    background: #000;
    opacity: .8;
}

.sponsor-nav[data-background-color="black"] .nav li .dropdown-menu .dropdown-item {
    color: #fff;
}

.sponsor-nav[data-color="purple"] li.active>a {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.sponsor-nav[data-color="azure"] li.active>a {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.sponsor-nav[data-color="green"] li.active>a {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.sponsor-nav[data-color="orange"] li.active>a {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.sponsor-nav[data-color="danger"] li.active>a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.sponsor-nav[data-color="rose"] li.active>a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.sponsor-nav[data-color="white"] li.active>a {
    background-color: #fff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}

.sponsor-nav[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) {
    color: #3C4858;
    opacity: 1;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.sponsor-nav[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) i {
    color: rgba(60, 72, 88, 0.8);
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item .nav-link {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item.active [data-toggle="collapse"],
.sponsor-nav[data-background-color="blue"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item.active [data-toggle="collapse"] i,
.sponsor-nav[data-background-color="blue"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="blue"] .user a {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .simple-text {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .sponsor-nav-background:after {
    background: #0c385a;
    opacity: .8;
}

.sponsor-nav[data-background-color="blue"] .user:after,
.sponsor-nav[data-background-color="blue"] .logo:after,
.sponsor-nav[data-background-color="blue"] .nav li.separator:after {
    background-color: rgba(255, 255, 255, 0.3);
}

.sponsor-nav[data-background-color="red"] .nav li:hover:not(.active)>a,
.sponsor-nav[data-background-color="red"] .nav li.active>[data-toggle="collapse"] {
    background-color: rgba(255, 255, 255, 0.1);
}

.sponsor-nav[data-image]:after,
.sponsor-nav.has-image:after {
    opacity: .77;
}

.off-canvas-sponsor-nav .navbar-collapse .nav>li>a,
.off-canvas-sponsor-nav .navbar-collapse .nav>li>a:hover {
    color: #fff;
    margin: 0 15px;
}

.sponsor-nav[data-image]:after,
.sponsor-nav.has-image:after {
    opacity: .77;
}

/*REQRDAME STYLE*/
.body-qr-login {
    background-color: #eaf9ff;
}
.page-header-reqrdame {
    padding: 5% 0 !important;
    height: -webkit-fill-available;
}

.login-container {
    padding: 0 3%;
}

.max-height {
    height: 100%;
}

.login_container-flex {
    align-items: center;
    justify-content: center;
    background-image: url("../login/all.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff00;
    height: 100%;
}

.center-login-column {
    width: 40%;
}

.bg-img-orange {
    background-image: url('../login/orange-bg.png');
    background-size: cover;
    border-radius: 15px;
}

.mobile-structure {
    display: none;
}

.desktop-structure {
    display: block;
}

@media (max-width: 740px) {
    .mobile-structure {
        display: block;
    }

    .desktop-structure {
        display: none;
    }
}

.login_top-nav {
    padding: 3% 0;
    position: relative;
    height: 58px;
}

.login_logo {
    width: 6%;
    position: absolute;
    top: 6%;
    left: 5%;
}

.login_logo_center {
    display: none;
}

.no-shadow {
    box-shadow: unset !important;
}

.sign_btn-tarvi {
    background: linear-gradient(60deg, #970f95, #c60fc4);
    border-radius: 15px;
    color: white;
    border-width: 0px;
    width: 60%;
    margin: auto;
    display: block;
}

.register_btn-tarvi {
    background: linear-gradient(60deg, #970f95, #c60fc4);
    border-radius: 15px;
    color: white;
    border-width: 0px;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}

.p-sub-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}

/* To show the lines on right
and left sides of the text */
.divider::after,
.divider::before {
    content: "";
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #7ecaff;
    flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
    margin-right: 0.50em;
}

.divider:not(:empty)::after {
    margin-left: 0.50em;
}
.own-form {
    background-color: white !important;
    border-radius: 12px !important;
    padding: 1% !important;
}

.own-label {
    top: -9px !important;
    left: 20px !important;
    position: absolute;
    color: #9e9e9e;
    font-weight: 500;
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent !important;
}

.main-panel {
    background-color: #eef7ff;
}

.side-user-card {
    height: 50px;
    position: sticky !important;
    width: 80%;
    bottom: 0px;
    list-style-type: none;
    padding-bottom: 13em !important;
    background: linear-gradient(60deg, #970f95, #c60fc4);
    margin-left: 10% !important;
    margin-top: 5% !important;
    border-radius: 20px;
}

.side-img-container {
    width: 100%;
}

.side-img-container img {
    margin: auto;
    display: block;
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 80px;
}

.user-card-header {
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 0;
    text-transform: none;
    text-align: center;
    font-size: 14px !important;
}

.span-tarvi {
    font-weight: 100;
    font-size: 12px;
    text-transform: none;
}

.logout-btn-container {
    width: 100%;
}

.logout-btn {
    width: 65%;
    color: white;
    margin: auto;
    display: block;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(60deg, #c170b6, #876481);
}

.logout-btn:hover {
    color: black;
    background: linear-gradient(60deg, white, #f7f6f8);
}

.sidebar_logo {
    width: 70px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.tarvi-logo-container {
    width: 100%;
}

.card-social {
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%) !important;
    border-radius: 15px;
}

.social-card-title {
    font-size: 28px !important;
    text-align: left !important;
}

.social-card-btn {
    width: 100%;
    display: block;
    background: linear-gradient(60deg, #7ecaff, #7ecaff);
    color: white;
    font-weight: 200;
    border-width: 0;
    border-color: unset;
    border-radius: 15px;
    padding: 5px 0px;
    cursor: pointer;
    margin: 5% 0;
}

.social-card-btn:disabled {
    background: linear-gradient(60deg, rgba(109, 110, 109, 0.36), #d5cad3);
    color: #202020;
    cursor: not-allowed;
}

button, a {
    font-family: Josefin, sans-serif !important;
}

.navbar .navbar-brand {
    color: black !important;
    font-size: 22px !important;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
    font-weight: 500;
    color: black !important;
    font-size: 30px !important;
}

.page-column-3 {
    width: 33.3%;
    padding: 5% 3%;
}

.own-form-3 {
    background-color: #fcfcfc !important;
    border-radius: 20px !important;
    border: solid !important;
    border-width: 0.5px !important;
    border-color: #d8d8d8 !important;
    padding: 8% 5% 8% 5% !important;
    color: #868686;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 0px 0px -5px rgb(0 0 0 / 20%) !important;
    margin-top: 1%;
    font-size: 13px !important;
}

@media (max-width: 4000px) {
    .own-form-3 {
        padding: 6% 5% 6% 5% !important;
        font-size: 17px !important;
    }
}

@media (max-width: 2000px) {
    .own-form-3 {
        padding: 6% 5% 6% 5% !important;
        font-size: 17px !important;
    }
}

@media (max-width: 1400px) {
    .own-form-3 {
        padding: 8% 5% 8% 5% !important;
        font-size: 13px !important;
    }
}

.pages-span {
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
}

.own-select {
    padding: 5px 5% 5px 5% !important;
}

.profile-pic {
    width: -webkit-fill-available;
    max-height: 500px;
}

.cover-pic {
    width: -webkit-fill-available;
    max-height: 500px;
}

.btn-delete-cover {
    position: absolute;
    bottom: 15px;
    right: -15px;
    border-radius: 15px !important;
    background-color: #a9dbfe !important;
    color: black !important;
}

.btn-edit-cover {
    position: absolute;
    bottom: 50px;
    right: -15px;
    border-radius: 15px !important;
    background-color: #a9dbfe !important;
    color: black !important;
}

.btn-delete-profile {
    position: absolute;
    top: 65%;
    left: -5px;
    border-radius: 15px !important;
    background-color: #a9dbfe !important;
    color: black !important;
}

.btn-edit-profile {
    position: absolute;
    top: 55%;
    left: -5px;
    border-radius: 15px !important;
    background-color: #a9dbfe !important;
    color: black !important;
}

.btn-edit-row {
    border-radius: 15px !important;
    background-color: #ff9800 !important;
}

.btn-delete-row {
    border-radius: 15px !important;
    background-color: #970f95 !important;
}

.img-changer-container {
    position: relative;
}

.hidden-input-container {
    position: relative;
}

.new-image-msg {
    position: absolute;
    top: 20px;
}

.page-column-social {
    width: 70%;
    padding: 5% 3%;
}

.page-column-social-save {
    width: 30%;
    padding: 5% 3%;
    position: relative;
}

.own-form-input {
    padding: 20px 5% 20px 5%;
    font-size: 14px !important;
    background-color: #fcfcfc !important;
    border-radius: 20px !important;
    border: solid !important;
    border-width: 0.5px !important;
    border-color: #d8d8d8 !important;
    color: #868686;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 0px 0px -5px rgb(0 0 0 / 20%) !important;
    margin-top: 1%;
}

.form-check-social {
    position: absolute;
    bottom: 12px;
}

.social-check {
    border: 1.5px solid #970f95 !important;
    background-color: #ffffff !important;
}

.save-sites {
    border-radius: 25px !important;
    padding: 10px 0px !important;
}

.page-column-emails {
    width: 100%;
    padding: 5% 3%;
}

.tarvi-header-background {
    background: linear-gradient(160deg, #a7299d, #5c295b) !important;
}

.btn-tarvi-secondary {
    background-color: #ff9800;
    color: white;
}

.dt-buttons {
    display: none;
}

.table thead tr th {
    font-weight: 500 !important;
    font-size: 16px !important;
}

.bmd-form-group.bmd-form-group-sm .form-control, .bmd-form-group.bmd-form-group-sm label, .bmd-form-group.bmd-form-group-sm input::placeholder {
    padding: 20px 5% 20px 5%;
    font-size: 14px !important;
    background-color: #fcfcfc !important;
    border-radius: 20px !important;
    border: solid !important;
    border-width: 0.5px !important;
    border-color: #d8d8d8 !important;
    color: #868686;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 0px 0px -5px rgb(0 0 0 / 20%) !important;
    margin-top: 1%;
}

.form-check, label {
    font-weight: 500 !important;
    font-size: 12px !important;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]) {
    padding: 5px 5% 5px 5% !important;
    font-size: 14px !important;
    background-color: #fcfcfc !important;
    border-radius: 20px !important;
    border: solid !important;
    border-width: 0.5px !important;
    border-color: #d8d8d8 !important;
    color: #868686;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 0px 0px -5px rgb(0 0 0 / 20%) !important;
    margin-top: 1%;
}

.frame-site {
    width: auto;
    height: auto;
    border-radius: 15px;
}
.tarvi-card {
    background-color: #fff5ed !important;
    border: solid;
    border-width: 1px;
    border-color: #a7299d;
}

.page-column {
    width: 100%;
    padding: 5% 3%;
}

.title-theme {
    text-align: center;
    font-size: 20px;
}

.radio-theme {
    display: block;
}

.img-theme {
    max-width: initial;
    width: -webkit-fill-available;
    height: 350px;
    object-fit: fill;
    margin-top: 2%;
}

.col-theme {
    width: 49%;
    padding: 1%;
    margin: 1% 2px 1% 2px;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 0px 0px -5px rgb(0 0 0 / 20%) !important;
}

.btn-save-theme {
    width: 7%;
    position: fixed;
    right: 60px;
    bottom: 5px;
}

.form-selector {
    position: relative;
}

.inside {
    margin-left: 1%;
    padding-top: 1% !important;
}

.card-social-tarvi {
    background: #ffe9da !important;
    border: solid !important;
    border-color: #bd0fbb !important;
    border-width: 2px !important;
}

.in-login strong {
    font-size: 30px !important;
}

.card-login {
    background-color: transparent !important;
}

.login-btn {
    background-color: #7ecaff;
    color: white;
    border-radius: 47.5px;
    border: unset;
    display: block;
    width: -webkit-fill-available;
    -webkit-box-shadow: 0px 2px 5px -2px #666666;
    box-shadow: 0px 2px 5px -2px #666666;
    cursor: pointer;
}

.login-btn:focus {
    border: unset;
}

.login-input {
    background-color: white !important;
    border-radius: 12px !important;
    border: unset !important;
    border-width: unset !important;
    border-color: unset !important;
    padding: 2% !important;
    -webkit-box-shadow: 0px 4px 6px -2px #e2e2e2;
    box-shadow: 0px 4px 6px -2px #e2e2e2;
}

.reqrdame-color {
    color: #7ecaff !important;
}

.form-flex-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.half-input {
    width: 45%;
    margin: auto;
}

.card-image {
    float: left;
    margin-top: 5%;
    display: inline-block;
}

.card-icons {
    display: inline-block;
    width: 100px;
}

.reqr-card-icons {
    color: #a9dbfe;
    width: 40px !important;
}

.card-reqr {
    background-color: #eef7ff !important;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 150px);
    align-items: center;
}

.flex-cards-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 200px);
    align-items: center;
    padding: 0px;
}

.add-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gap {
    margin: 2.5% 0;
}

.container-reqr {
    overflow: auto;
    height: calc(100vh - 150px);
    padding: 0 2%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%) !important;
}

.container-reqr-profile {
    overflow: auto;
    height: calc(100vh - 200px);
    padding: 1% 3%;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 0 0px 0px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%) !important;
}

.sidebar-icon {
    width: 30px;
}

.sidebar-element-text {
    text-align: center;
}

.card-img-icon {
    width: 25px;
    font-size: 35px;
    margin: 25% 5% 0 5%;
}

.footer-bar {
    text-align: end;
    padding: 0 50px 0 50px;
    font-size: 13px;
    color: black;
}

.adaptative-col {
    flex: 0 0 25%;
    max-width: 25%;
}

.outer-column-left {
    width: 60%;
    height: inherit;
}

.outer-column-right {
    width: 40%;
    height: inherit;
}

.inner-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.inner-column-left {
    width: 50%;
}

.inner-column-right {
    width: 50%;
}

.profile-container {
    margin: -50% 2.5% 0 2.5%;
}

.inner-inputs-container {
    margin: 0 0 0 2.5%;
}

.inputs-container {
    margin: 0 0 0 5%;
}

.btn-adjust i.material-icons-outlined {
    position: relative;
    font-size: 1.0rem;
    vertical-align: top;
}

input {
    font-family: 'Josefin', sans-serif;
}

/*for laptop*/
@media (max-width: 1400px) {
    .adaptative-col {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
}

/*for mobile*/
@media (max-width: 768px) {
    .login_container-flex {
        background-image: unset;
        background-size: unset;
        background-repeat: unset;
        background-position: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: white;
        border-radius: 15px;
        height: 100%;
        -webkit-box-shadow: 0px 3px 2px 1px #e6e6e6;
        box-shadow: 0px 3px 2px 1px #e6e6e6;
    }
    .center-login-column {
        width: 100%;
    }
    .login_logo {
        display: none;
    }
    .login_logo_center {
        display: block;
        width: 25%;
        margin: auto;
    }
    .adaptative-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-reqr {
        height: calc(100vh - 70px);
    }
    .flex-cards {
        height: calc(100vh - 70px);
    }
    .main-panel>.content {
        padding: 30px 15px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}
